.header {
  background-color: rgb(249 68 54);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 120px;
  font-family: Salsa-Regular;
  font-size: 22pt;
}

.title {
  width: 100vw;
  text-align: center;
}

.hey{
  /* margin-left: -15%; */
}
